.background {
    viewport-fill: blue;
}

#myTime {
    font-size: 59;
    font-family: System-Regular;
    text-length: 50;
    text-anchor: middle;
    x: 48%;
    y: 14%;
    fill: greenyellow;
}

#myDate {
    font-size: 20;
    font-family: System-Regular;
    text-length: 80;
    text-anchor: middle;
    x: 49%;
    y: 98%;
    fill: greenyellow;
}


#myBPM {
    font-size: 30;
    font-family: System-Regular;
    text-length: 80;
    text-anchor: middle;
    x: 12%;
    y: 22%;
    fill: greenyellow;
}

#mySteps {
    font-size: 30;
    font-family: System-Regular;
    text-length: 80;
    text-anchor: middle;
    x: 80%;
    y: 22%;
    fill: greenyellow;
}

#myCals {
    font-size: 30;
    font-family: System-Regular;
    text-length: 80;
    text-anchor: middle;
    x: 15%;
    y: 66%;
    fill: greenyellow;
}

#myDistance {
    font-size: 25;
    font-family: System-Regular;
    text-length: 80;
    text-anchor: middle;
    x: 80%;
    y: 66%;
    fill: greenyellow;
}

#myBattery {
    font-size: 25;
    font-family: System-Regular;
    text-length: 80;
    text-anchor: middle;
    x: 49%;
    y: 49%;
    fill: greenyellow;
}